@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Alegreya", Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-primary: hsl(10.2, 87.6%, 62%);
    --color-secondary: HSL(0, 0%, 70%);
    --color-tertiary: HSL(0, 0%, 35%);
    --color-tertiary-darker: HSL(0, 0%, 18%);
    --color-background: HSL(0, 0%, 12%);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25rem
}
